<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLKH"
            sequence="0"/>
          
        <menuitem
            id="menu_khach_hang"
            name="Quản lý khách hàng"
            parent="menu_root"
            action="action_khach_hang"
            sequence="1"
        />
    </data>
</odoo>
