<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLCV"
            sequence="0"/>
          
        <menuitem
            id="menu_cong_viec"
            name="Quản lý công việc"
            parent="menu_root"
            action="action_cong_viec"
            sequence="1"
        />
    </data>
</odoo>
